include utils/data
include utils/mixins
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      )
    meta(
      http-equiv="X-UA-Compatible"
      content="ie=edge"
      )
    block style
      link(
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=cyrillic"
        )
      link(rel="stylesheet" href="css/main.css")
    block title
      title= title
  body
    include header
    block toolbar
      include toolbar
    main.wrapper      
      block content
    include footer
    block modals
    block scripts
      script(src="js/jquery-3.3.1.min.js")
      script(src="js/main.js")
