extends pug/layout
prepend title
  - var title = "Документы"
block content
  .table.documents
    .table__header.sort        
      .documents__checkbox
        input(
          class="visually-hidden select-all"
          type="checkbox"
          id="all-documents"
        )
        label.checkbox(for="all-documents")
          +icon("check").checkbox__icon
      .sort__item.sort__item--active.documents__date Дата
      .sort__item.documents__number Номер
      .sort__item.documents__type Тип документа
      .sort__item.documents__summ Сумма
      .documents__actions
        a(href="javascript:void(0);" title="Заказать оригиналы" data-modal="#modal-originals").order__docs-originals 
          +icon("document")
          .
            Оригиналы
        button.button.button--primary.button--action.button-hide.documents__download-all(title="Скачать выбранное")
          +icon("download").button__icon
    .table__body
      each doc in documents
        .table__row.documents__item(title="Скачать")
          .documents__checkbox
            input(
              class="visually-hidden select-item"
              type="checkbox"
              id= doc.number
            )
            label.checkbox(for= doc.number)
              +icon("check").checkbox__icon
          .documents__date= doc.date
          .documents__number= doc.number
          .documents__type= doc.type
          .documents__summ
            span.summ__summ 5 456
            |
            |
            span.summ__penny .00
          +icon("download").icon--unfocused.documents__download-icon
append modals
  include pug/modal/originals
  include pug/modal/act
prepend message
  // после запроса оригиналов "Ваш запрос успешно отправлен"
  // после отправки акта на почту "Акт отправлен на mail@mail.ru"
